<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539551479786-3eubcus5r464a51uurl9kqvuln172nem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539551479786-3eubcus5r464a51uurl9kqvuln172nem</string>
	<key>API_KEY</key>
	<string>AIzaSyDAG_YMimqh7RIzEt8oZOHhTUElrwCcq3w</string>
	<key>GCM_SENDER_ID</key>
	<string>539551479786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Oleksandr-Solokha.MyNotes</string>
	<key>PROJECT_ID</key>
	<string>notesbase-oleksandrsolokha</string>
	<key>STORAGE_BUCKET</key>
	<string>notesbase-oleksandrsolokha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539551479786:ios:b5e4fa97625289309ce493</string>
</dict>
</plist>